<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.susion.boring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.SAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.ui.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.ui.mainui.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".music.mvp.view.SearchMusicActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".music.mvp.view.PlayMusicActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".music.mvp.view.LocalMusicActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".music.mvp.view.MyLikeActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".base.service.BaseService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="BASE_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".music.mvp.view.MusicDownLoadListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".music.mvp.view.PlayListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".interesting.mvp.view.ZhiHuEssayActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".interesting.mvp.view.PictureViewActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".base.ui.AuthorActivity" />
        <activity android:name=".base.ui.CollectActivity" />
        <activity android:name=".base.ui.AppInfoActivity" />
        <activity android:name=".base.ui.SettingActivity"></activity>
    </application>

</manifest>